<!DOCTYPE web-app>

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>littlePiggy</servlet-name>
  	<display-name>littlePiggy</display-name>
  	<description></description>
  	<servlet-class>littlePiggy</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>littlePiggy</servlet-name>
  	<url-pattern>/littlePiggy</url-pattern>
  </servlet-mapping>
</web-app>
